{%- raw -%}

{% capture structured_data %}layouts/modules/module_3/{{layout}}/structured_data{% endcapture %}
{%- include structured_data -%}
{% include 'module', id: '6', item_ids: this['Author'], collection: 'true', per_page: '1', datasource: 'true', type: 'list' %}
{% assign author = context.exports.module_6.data.result.items[0] %}

<section>
  <div class="container py-8">
    <div class="row mb-8">
      <div class="col-12 col-lg-8">
        <div class="row g-3">
          <div class="col-12">
            <h2 class="fs-3 fw-bolder text-gradient text-primary">{{this['Title']}}</h2>
            <p>
              By
              <a rel="author" href="{{blog_list_page_url}}?module_field_3_4={{author.id}}&author_name={{author.properties.name | url_encode}}">{{author.properties.module_field_6_1}}</a>
              in 
              {% for category in this['category_array'] %}
                <a href="{{blog_list_page_url}}?category={{context.exports.categories.data[category].id}}">{{context.exports.categories.data[category].name  | replace: " ", "&nbsp;" -}}</a>
                {%- assign position = forloop.index | plus: 1 -%}
                {%- if this['category_array'].size == position -%}&nbsp;and{%- elsif forloop.last != true -%}, {% endif %}
              {% endfor %}
              on
              <time pubdate class="text-uppercase" datetime="{{this['release_date'] | date: '%d %^b. %Y'}}" title="{{this['release_date'] | date: '%b %d %Y'}}">{{this['release_date'] | date: '%b %d %Y'}}</time>
            </p>
          </div>
          <aside class="col-12 mt-0 d-flex flex-wrap gap-2" aria-label="Share social media">
            <button data-s-g-social-feature="fbButton" class="btn btn-primary btn-icon mb-1" type="button">
              <div class="d-flex align-items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-facebook" viewBox="0 0 16 16">
                  <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951"/>
                </svg>
                Share
              </div>
            </button>

            <button data-s-g-social-feature="tw" class="btn btn-primary btn-icon mb-1" type="button">
              <div class="d-flex align-items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
                  <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
                </svg>
                Tweet
              </div>
            </button>

            <button data-s-g-social-feature="clipboard" class="btn btn-primary btn-icon mb-1" type="button">
              <div class="d-flex align-items-center gap-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
                  <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
                  <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
                </svg>
                Copy link
              </div>
            </button>
          </aside>
          <div class="col-12">
            {{this['Content'] | html_safe }}
          </div>
        </div>
      </div>
      {% if sidebar == true %}
        <div class="d-none d-lg-block col-lg-4" aria-labelledby="sidebar-label">
          <div class="p-3 border rounded bg-light">
            {% capture sidebar %}layouts/modules/module_3/{{layout}}/sidebar{% endcapture %}
            {%- include sidebar -%}
          </div>
        </div>
      {% endif %}
    </div>
    <aside aria-label="Related articles" class="row">
      {% assign related_category_id = this.category_array | join: "," %}
      {% assign item_limit = 4 %}
      {% include 'module', id: '3', collection: 'true', type: 'list', category_ids: related_category_id %}
      {% assign related_articles = context.exports.module_3.data.result.items | sort: 'date' | array_delete: this | limit: item_limit %}
      {% if related_articles.size > 0 %}
        <div class="col-12">
          <h2 class="fs-4 fw-bolder text-gradient text-primary">Related articles</h2>
          <div class="d-flex flex-wrap justify-content-between gap-4">
            <div class="row w-100 g-3">
              {% for article in related_articles %}
                <div class="d-flex col-12 col-sm-6 col-lg-3">
                  <div class="card flex-fill">
                    <a class="card-img-top h-100" href="/{{context.params.slug}}/{{article.properties.slug}}">
                      <img src="{{article.properties.module_field_3_7 | asset_url}}" class="card-img-top h-100" alt="{{article.properties.module_field_3_8}}">
                    </a>
                    <div class="card-body">
                      <h5 class="card-title"><a href="/{{context.params.slug}}/{{article.properties.slug}}">{{article.properties.module_field_3_1}}</a></h5>
                      <p class="card-text">{{article.properties.module_field_3_3}}</p>
                      <a href="/{{context.params.slug}}/{{article.properties.slug}}" class="btn btn-primary">
                        {% assign reading_time = article.properties.module_field_3_9 | strip_html | split: " " | size | divided_by: 238 %}
                        {% if reading_time == 0 %}
                          Read in 1 minute
                        {% else %}
                          Read in {{reading_time}} minutes
                        {% endif %}
                      </a>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
      {% endif %}
    </aside>

  </div>
</section>

{% if context.exports.module_86.sitegurus_social_share_api != true %}
  <script async id="sitegurus_social_share_api" src="{{'modules/module_86/js/sitegurus_social_share_api.js' | asset_url}}" charset="utf-8"></script>
  {% assign sitegurus_social_share_api = true %}
  {% export sitegurus_social_share_api, namespace: "module_86" %}
{% endif %}

{%- endraw -%}