
{%- raw -%}{% comment %} ---Settings--- {% endcomment %}
{% comment %} ------Short Description Field------ 
Set to either null to show no short description, "default" to show the first sentence of the description, or a custom field name to use a custom field to store the short description.{% endcomment %}
{% assign short_description_field_name = 'Short Description' %}
{% comment %} ------Cart URL------- {% endcomment %}
{% assign cart_url = '/cart' %}
{% comment %} ------Shop Home URL-------
URL to link customers back to the shop after an order. {% endcomment %}
{% assign shop_home_url = '/' %}
{% comment %} ------Orders List URL-------
URL to link customers back to the orders list. {% endcomment %}
{% assign orders_home_url = '/orders' %}
{% comment %} ---End Settings--- {% endcomment %}
{% capture sitegurus_ui_uniq_component_id %}sitegurus_component_{% increment sitegurus_gen_uniq_component_id %}{% endcapture %}

{% comment %} <script defer src="{{'modules/siteglide_ecommerce/js/siteglide_ecommerce.js' | asset_url}}"></script> {% endcomment %}

{%- include 'modules/siteglide_ecommerce/ecommerce/get/get_order_details', item_layout: 'item' -%}{%- endraw -%}

    {%- raw -%}<section class="position-relative py-20 bg-light overflow-hidden">
  <div class="d-none d-lg-block position-absolute top-0 start-0 col-12 col-lg-5 h-100 bottom-0 bg-info d-print-none">
    <img class="position-absolute bottom-0 start-0 col-6 col-lg-auto img-fluid" src="https://res.cloudinary.com/sitegurus/image/upload/f_auto/v1650623221/modules/module_86/libraries/3/lines-order.svg" alt="">
    <img class="col-6 ms-auto ms-lg-0 col-lg-12 img-fluid" style="object-fit: cover;" src="https://res.cloudinary.com/sitegurus/image/upload/f_auto/v1650623221/modules/module_86/libraries/3/placeholder-order.png" alt="">
  </div>
  <div class="d-lg-none mb-20 d-print-none">
    <img class="img-fluid w-100" style="object-fit: cover; height: 288px" src="https://res.cloudinary.com/sitegurus/image/upload/f_auto/v1650623221/modules/module_86/libraries/3/placeholder-order.png" alt="">
  </div>
  <div class="py-16 bg-white">
    <div class="container">
      <div class="row justify-content-end">
        <div class="col-12 col-lg-6 ps-lg-20 ms-lg-auto">
          <h2 class="mb-8">Thanks for ordering</h2>
          {% comment %} this: {{this}}<br> {% endcomment %}
          <p class="mb-12 text-secondary">{% if this.Status == "Payment Complete" %}Your payment went through{% else %}Your Order has the Status: {{this.Status}}{% endif %}</p>
          <div class="d-flex flex-wrap mb-12">
            <div class="me-20">
              <p class="text-secondary">Order Number</p>
              <p class="mb-0 text-info fw-bold">{{ this.id }}</p>
            </div>
            <div class="me-auto">
              <p class="text-secondary">Date</p>
              <p class="mb-0 text-info fw-bold">{{this.create_date | date: "%b %d %Y"}}</p>
            </div>
            <button type="button" class="btn mt-6 mt-md-0 justify-content-center align-items-center border" onclick="window.print();">
              <svg width="16" height="20" viewbox="0 0 16 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 1V0.25C0.585786 0.25 0.25 0.585786 0.25 1L1 1ZM15 19V19.75C15.4142 19.75 15.75 19.4142 15.75 19H15ZM1 19H0.25C0.25 19.4142 0.585786 19.75 1 19.75L1 19ZM10 1L10.5303 0.46967C10.3897 0.329018 10.1989 0.25 10 0.25V1ZM15 6H15.75C15.75 5.80109 15.671 5.61032 15.5303 5.46967L15 6ZM15 18.25H1V19.75H15V18.25ZM1.75 19V1H0.25V19H1.75ZM1 1.75H10V0.25H1V1.75ZM14.25 6V19H15.75V6H14.25ZM9.46967 1.53033L14.4697 6.53033L15.5303 5.46967L10.5303 0.46967L9.46967 1.53033ZM8.25 1V5H9.75V1H8.25ZM11 7.75H15V6.25H11V7.75ZM8.25 5C8.25 6.51878 9.48122 7.75 11 7.75V6.25C10.3096 6.25 9.75 5.69036 9.75 5H8.25Z" fill="black"></path>
              </svg>
              <span class="ms-4">Print Invoice</span>
            </button>
          </div>
          {% for product in this.order_products -%}
            <div class="mb-6 p-10 shadow">
              <div class="row align-items-center">
                <div class="col-12 col-lg-3 mb-8 mb-lg-0">
                  <img class="img-fluid w-100" style="height: 128px; object-fit: contain;" src="{{product['Image'] | asset_url}}" alt="{{product['Image Alt']}}">
                </div>
                <div class="col-12 col-lg-9">
                  <div class="d-flex">
                    <div class="me-auto">
                      <h3 class="lead fw-bold">{{product['product_name']}}</h3>
                      {% if short_description_field_name != blank %}
                        <p class="mb-0 text-secondary">{% if product['Description'] and short_description_field_name == "default" %}{{product['Description'] | strip_html | split: "." | first | append: "."}}{% else %}{{product[short_description_field_name] | html_safe}}{% endif %}</p>
                      {% endif %}
                      <p class="mb-0 text-secondary">
                        <span>Quantity:</span>
                        <span class="text-dark fw-bold">{{product.quantity}}</span>
                      </p>
                    </div>
                    <span class="h5 fw-bold text-info">{{product.currency_symbol}}{{product.price}}</span>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          <div class="mb-10">
            <div class="py-3 px-10 {% cycle sitegurus_ui_uniq_component_id: 'bg-light', '' %} rounded-pill">
              <div class="d-flex justify-content-between">
                <span class="fw-bold">Subtotal (excl. tax)</span>
                <span class="fw-bold">{{this['Currency Symbol']}}{{this['Price - Cart Item Total Before Tax'] | divided_by: 100.0 | format_number: precision: 2}}</span>
              </div>
            </div>
            <div class="py-3 px-10 {% cycle sitegurus_ui_uniq_component_id: 'bg-light', '' %} rounded-pill">
              <div class="d-flex justify-content-between">
                <span class="fw-bold">Shipping</span>
                <span class="fw-bold">{{this['Currency Symbol']}}{{this['Shipping Method Price - Before Tax'] | divided_by: 100.0 | format_number: precision: 2}}</span>
              </div>
            </div>
            <div class="py-3 px-10 {% cycle sitegurus_ui_uniq_component_id: 'bg-light', '' %} rounded-pill">
              <div class="d-flex justify-content-between">
                <span class="fw-bold">Tax</span>
                <span class="fw-bold">{{this['Currency Symbol']}}{{this['Price - Cart Total Tax Amount'] | divided_by: 100.0 | format_number: precision: 2}}</span>
              </div>
            </div>
            {% if this['Discount Code - Total Saving'] %}
              <div class="py-3 px-10 {% cycle sitegurus_ui_uniq_component_id: 'bg-light', '' %} rounded-pill">
                <div class="d-flex justify-content-between">
                  <span class="fw-bold">Discount</span>
                  <span class="fw-bold text-danger">-{{this['Currency Symbol']}}{{this['Discount Code - Total Saving'] | divided_by: 100.0 | format_number: precision: 2}}</span>
                </div>
              </div>
            {% endif %}
            <div class="py-3 px-10 {% cycle sitegurus_ui_uniq_component_id: 'bg-light', '' %} rounded-pill">
              <div class="d-flex justify-content-between">
                <span class="lead fw-bold">Order Total</span>
                <span class="fw-bold">{{this['Currency Symbol']}}{{this['Total Price'] | divided_by: 100.0 | format_number: precision: 2}}</span>
              </div>
            </div>
          </div>
          <div class="row mx-0 mb-10 py-10 px-4 bg-light rounded-3">
            <div class="col-12 col-md-4 mb-6 mb-lg-0">
              <p class="mb-6 fw-bold">Billing Address</p>
              <div class="mb-0 text-secondary">{{this['Billing Address'] | replace: ", ,", "," | replace: ",", ",<br>"}}</div>
            </div>
            <div class="col-12 col-md-4 mb-6 mb-lg-0">
              <p class="mb-6 fw-bold">Delivery Address</p>
              <div class="mb-0 text-secondary">{{this['Shipping Address'] | replace: ", ,", "," | replace: ",", ",<br>"}}</div>
            </div>
            <div class="col-12 col-md-4 mb-6 mb-lg-0">
              <p class="mb-6 fw-bold">Shipping</p>
              <p class="mb-0 text-secondary">{{this['Shipping Method Name']}}</p>
              {% if shipping_updates_contact != blank %}
                <p class="mb-0 text-secondary">For updates, contact: {{shipping_updates_contact}}</p>
              {% endif %}
            </div>
          </div>
          <div class="row mb-5">
            <div class="text-end col-12 col-sm-6">
              <a class="btn btn-sm btn-outline-primary w-100" href="{{orders_home_url}}">Back to Orders</a>
            </div>
            {% if context.current_user.id %}
              <div class="text-end col-12 col-sm-6">
                <button type="button" onclick="s_e_reorder({ order_id: '{{this.id}}', token: '{{context.authenticity_token}}', cart_url: '{{cart_url}}'})" class="btn btn-sm btn-info w-100">
                  Re-Order
                </button>
              </div>
            {% endif %}
            
          </div>
          <div class="text-end"><a class="btn w-100 btn-primary" href="{{shop_home_url}}">Back to Shopping</a></div>
        </div>
      </div>
    </div>
  </div>
</section>{%- endraw -%}