{%-raw-%}

{% comment %}---Settings---{% endcomment %}
{% comment %}---End Settings---{% endcomment %}
{% comment %} {% capture sitegurus_ui_uniq_component_id %}sitegurus_component_{% increment sitegurus_gen_uniq_component_id %}{% endcapture %} {% endcomment %}

{% if context.exports.sitebuilder.live_update_JS_loaded == blank %}
  <script async src="{{'modules/module_86/js/v1-6/sitegurus_live_update_javascript_api.min.js' | asset_url }}"></script>
  {% assign live_update_JS_loaded = true %}
  {% export live_update_JS_loaded, namespace: sitebuilder %}
{% endif %}

{% function public_key = "modules/module_86/front_end/functions/v1/live_update_params_encode", layout: layout, model: _model %}

{% if params.sitebuilder_uniq_component_id %}
  {% assign sitebuilder_uniq_component_id = params.sitebuilder_uniq_component_id %}
{% else %}
  {% capture sitebuilder_uniq_component_id %}sitegurus_component_{% increment sitegurus_gen_uniq_component_id %}{% endcapture %}
{% endif %}

<div class="col-12" id="{{sitebuilder_uniq_component_id}}_author" data-sg-live-update-section="{{sitebuilder_uniq_component_id}}" data-sg-live-update-key="{{public_key}}">
  <form data-sg-live-update-controls="hidden_fields">
    <input type="hidden" name="module_field_3_4" value={{ author_id }}>
    <input type="hidden" name="sort_type" value="created_at">
    <input type="hidden" name="sort_order" value="desc">
  </form>
  
  <h2 class="mt-8 text-2xl text-primary">Latest Articles</h2>
  <div data-sg-live-update-component="results" class="mb-4 d-flex flex-wrap justify-content-between gap-4">
    <div class="row w-100 g-3">
      {% if params.public_key != blank %}
        {%- include 'modules/siteglide_system/get/get_items', item_layout: 'item' -%}
      {% endif %}
    </div>
  </div>
  
  <div class="d-inline-block">
    <div data-sg-live-update-component="pagination">      
        <div data-sg-live-update-controls="pagination">
          <input type="hidden" name="per_page" value="{{per_page}}">
          <input type="hidden" name="show_pagination" value="{{show_pagination}}">
          <input type="hidden" name="pagination_layout" value="{{pagination_layout}}">
          {%- if _show_pagination == 'false' and pagination_layout != blank and pagination_layout != "default" and params.public_key != blank -%}
            {%- include 'modules/siteglide_system/get/get_pagination', pagination_layout: _pagination_layout -%}
          {%- endif -%}
        </div>
    </div>
  </div>

</div>

{%-endraw-%}