{%-raw-%}

{%- comment -%} If this item has children, output the item. This layout does not support more than two levels of menu. {%- endcomment -%}
{%- if this['is_parent'] and _level == 1 -%}
  <div class="col-6 col-sm-3 mb-4">
    <h6 class="text-white">{{this['link_name']}}</h6>
    <ul class="text-sm flex-column nav">
      {%- assign _next_level = _level | plus: 1 -%}
      {%- include 'modules/siteglide_menu/get/get_items', level: _next_level, parent_id: this['forced_id'], item_layout: 'item' -%}
    </ul>
  </div>
{%- else -%}
  {% if _level == 1 %}
    <div class="col-6 col-sm-3 mb-4">
      <h6 class="text-white">{{this['link_name']}}</h6>
      <ul class="text-sm flex-column nav">
        <li class="mb-2">
          <a class="text-white link-primary" {% if this['link_target'] %} target="{{this['link_target']}}"{% endif %} href="{{this['link_url']}}">{{this['link_name']}}</a>
        </li>
      </ul>
    </div>
  {% else %}
    <li class="nav-item mb-2">
      <a class="text-white link-primary" {% if this['link_target'] %} target="{{this['link_target']}}"{% endif %} href="{{this['link_url']}}">{{this['link_name']}}</a>
    </li>
  {% endif %}
{%- endif -%}

{%-endraw-%}